
.active {
font-color:#000000
text-decoration: none;
	background-color: #000;
} 
body { 
	color: black;
	margin: 5px;
	font-size: small;
	font-family:  Arial, sans-serif;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}
.gwt-ImageKapat:HOVER{

}

.gwt-Loginbackground {
	
	background-image: url("loginbg.png");
	background-repeat: no-repeat;
	background-position: center;
	
	
}
.gwt-YeniKayit2 {
	background-color: rgb(56, 136, 0);

color: rgb(255, 255, 255);
cursor: pointer;
direction: ltr;
display: inline-block;

	
background-image: url("plus.png");
background-repeat: no-repeat;
background-position: 85px;
text-align: left;
padding-right: 0px;
padding-left: 5px;
width: 123px;
height: 30px;

	}

.gwt-YeniKayit2:HOVER {
	
	background-color: limegreen;
}
	
	

.gwt-TextBoxError {
	
	
	border: 1px solid red;
	
	background-image: url("warning.png");
background-position: right;
background-repeat: no-repeat;

}	


.gwt-GridDelete {
	
	background-image: url("error.png");
	/* background-color: red; */
	background-position: center;
	background-repeat: no-repeat;
	
}
.gwt-TextBoxLogInKullanÄ±cÄ±{
	
	background-repeat: no-repeat;
background-position: right;
	
}

.gwt-TextBoxLoginSifre {
	
	background-repeat: no-repeat;
background-position: right;

}
.gwt-Label-Login{
	color: blue;
	font-weight: bold;	
}

.gwt-LabelSistemGirisi {
	
	color: white;
	background-repeat: no-repeat;
	background-image: url("");
	background-position: left;
	font-weight: bold;
	font-family: cursive;
	
	
}

.gwt-ButtonLogIn {

	color: white;
	background-color: blue;
	
	border-radius: 6px;
/* 	border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px; */

	
	
	
	
}


.gwt-TextAreaResible {
	height:wwpx; 
width: 275px; 
/* -moz-box-shadow: 0 2px 4px #bbb inset; 
-webkit-box-shadow: 0 2px 4px #BBB inset; 
box-shadow: 0 2px 4px #BBB inset; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px;  */
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: arial,sans-serif;
	
	/*
	max-height: 50;
	min-height: 50;
	max-width: 187;
	max in-width: 187; */
	resize: none;
}

.gwt-TextAreaResible:focus{
    outline: none;
   /*  box-shadow: 0px 0px 5px #61C5FA; */
    border:2px solid #5AB0DB;
}

.gwt-TextAreaResible:hover {
    border: 1px solid #007AFF;
    border-radius: 0px;
}


.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;

}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
	

}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;f
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: border:1px solid rgb(200, 199, 204);;
}










.gwt-StackPanel {
  border-bottom: 1px solid #bbbbbb;
  
  
}
.gwt-StackPanel .gwt-StackPanelItem {
/* padding: 3px;
  border-bottom: 0px;
  background: #d3def6 url(images/hborder.png) repeat-x 0px -989px; */
   border: 1px solid #bbbbbb;
    cursor: pointer;
/*   background-color: rgb(200, 199, 204); */  
 background-color: rgb(245, 245, 245);
 
/*  font-weight: bold; */
    font-size: 1.3em;
    color: black;
    height: 35px;
  
  
  }

.gwt-StackPanel .gwt-StackPanelItem-selected {
	
	background-color: rgb(0, 122, 255);
	color: white;
	height: 35px;

	}
	.gwt-StackPanel .gwt-StackPanelHeader-hovering {
  background: #d3def6 url(images/hborder.png) repeat-x 0px -1464px;
}
 
	
.gwt-StackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: rgb(245, 245, 245);
  padding: 2px 2px 10px 5px;
 
}




.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}


.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}
.gwt-ButtonSave {
	
	cursor: pointer;
 /* border-radius: 15px 15px 15px 15px; */
 	background-color: whitesmoke;
		background-image: url(kaydet.png);	
	background-repeat: no-repeat;
	
	background-position: center;
	/* -moz-user-select: none;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
     text-decoration: none; */
     
    
   
}

.gwt-ButtonSave:hover {

background-color: #0066ff;


}	

.gwt-LabelMor {
	color: rgb(0, 122, 255);
	border:1px solid rgb(200, 199, 204);
	font-weight: bold;
	background-color: rgb(245, 245, 245);
	/* text-align: center; */
	
	
}

.gwt-LabelMor2 {
	color: rgb(0, 122, 255);
	border:1px solid rgb(200, 199, 204);
	font-weight: bold;
	background-color: rgb(245, 245, 245);
	/* text-align: center; */
	padding-left: 20px;
	
}
.gwt-Bold {
	font-style: normal;
	font-family: arial,sans-serif;
	font-weight: bold;
}
.gwt-11111 {
background-color: rgb(239, 239, 239);
background-image: -moz-linear-gradient(center top , rgb(250, 250, 250), rgb(239, 239, 239));
border: 1px solid rgb(221, 221, 221);
border-radius: 2px 2px 2px 2px;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
cursor: pointer;
height: 80px;
display: block;
font-size: 14px;
margin-bottom: 15px;
margin-top: 15px;
padding: 5px 0px 0px;
position: relative;
text-align: center;
transition: all 0.3s ease 0s;
color: rgb(51, 51, 51);
}

.gwt-2222 {
	color: rgb(255, 255, 255);
	border-top: 142);
	border-right: solid 142);
	border-bottom: 142);
	border-left: 142);
	background-color: rgb(50, 118, 177);
	background-image: none;
}

.gwt-RichTextToolbar-new {
}

.gwt-TextBox1 {
/* height:wwpx;  */
width: 275px; 
/* -moz-box-shadow: 0 2px 4px #bbb inset; 
-webkit-box-shadow: 0 2px 4px #BBB inset; 
box-shadow: 0 2px 4px #BBB inset; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px;  */
	color: black;
	border: 1px solid #B9BDC1;
	/* font-size: 14px;
	font-style: normal; */
	font-family: arial,sans-serif;
	
}

.gwt-TextBox1-readonly {
  color: #888;
}

.gwt-TextBox1:focus{
    outline: none;
  /*   box-shadow: 0px 0px 5px #61C5FA; */
    border:2px solid #5AB0DB;
}

.gwt-TextBox1:hover {
    border: 1px solid #007AFF;
    border-radius: 0px;
}

/* .gwt-TextBox1:focus:hover{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:1px solid red;
    border-radius:0;
    
}  */

.gwt-ComboBox1 {
	font-family: arial,sans-serif;
	
	
}

.gwt-ComboBox1:focus{
    outline: none;
   /*  box-shadow: 0px 0px 5px #61C5FA; */
    border:2px solid #5AB0DB;
}

.gwt-ComboBox1:hover {
    border: 1px solid #007AFF;
    border-radius: 0px;
}



.gwt-DialogBackGround {
	/* background-color: #F9F9F9; */
	background-color: white;
}

.gwt-Butonkaydet{
	background-image: url(download_folder_icon.png);	
	
	}
.gwt-ButonYeniKayit {
	background-color: rgb(204,204,204);
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
	color: rgb(255, 255, 255);
	background-image: url(yenikayit.png);
	color: black;
	background-repeat: no-repeat;
	
}

.gwt-ButonYeniKayit:hover {
	background-color: #f5f5f5;
	
}
.gwt-ButonKapat {
/* 	color: rgb(255, 255, 255);
	background-color: rgb(168,0,0);
	border-color: rgb(172, 41, 37);
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	background-image: url(kapat.png);
	background-repeat: no-repeat;
	text-align: right;
	background-position: left;
	 */
		background-image: url(kapat.png);	
	background-repeat: no-repeat;
	
	background-position: center;
}	

.gwt-ButonKapat:hover {
/* 	background-color: #FF6A6A; */
	/* background-image: url(kapat.png);
	background-repeat: no-repeat;
	text-align: right; */
	background-color: red;
}	



.gwt-ButtonListeyiYenile {
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
	color: rgb(255, 255, 255);
	background-color: rgb(66, 139, 202);
	background-image: url(yenile.png);
	background-repeat: no-repeat;
}

.gwt-ButtonExceleAktar {
	background-color: #E1E1E1;
	cursor: pointer;
	color: black;
	border-radius: 4px 4px 4px 4px;
	border-color: darkgrey;
	background-image: url(excel.png);
	background-repeat: no-repeat;
}

.gwt-ButtonExceleAktar:hover {
	background-color: #f5f5f5;

		text-align: right;
}



.gwt-ButtonAra {
	background-image: url(arama.png);	
	background-color: #E1E1E1;
	cursor: pointer;
	color: black;
	border-radius: 4px 4px 4px 4px;
	border-color: darkgrey;
		background-repeat: no-repeat;
		background-position: : left;
		
}


.gwt-ButtonAra:hover {
	
		background-color: #E1E1E1;
	
	background-repeat: no-repeat;
	text-align: right;
	
}



.gwt-ButtonRaporAl {
	background-image: url(FileWriteDocument.png);
}


.gwt-HzPan {
	background-color: white;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: white;
	/* background-image: url(body.png); */
/* 	background-repeat: repeat; */
}


.gwt-dlgbackgorund {
	background-color: white;
	
}
.gwttextbuton {
	border-color: rgb(38, 154, 188);
	font-family: arial,sans-serif;

	border-radius: 4px 4px 4px 4px;
}
.gwttreeee {
	background-color: ButtonFace;
	cursor: pointer;
	
}
.gwt-MenuButton {

	
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(51, 51, 51);
direction: ltr;
display: list-item;
font-family: sans-serif, Arial;
font-size: 13px;
height: 30px;
line-height: 17px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
/* text-align: left; */
width: 225px;
font-weight: bold;

}
.gwt-MenuButton:BEFORE {
	width: 275px;
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: arial,sans-serif;
	font-weight: bold;
	background-attachment: scroll;
	background-color: rgb(217,217,217);
	background-position: 0% 0%;
	

	}

.gwt-MenuButton:LINK:VISITED {
	width: 275px;
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: arial,sans-serif;
	font-weight: bold;
	background-attachment: scroll;
	background-color: rgb(217,217,217);
	background-position: 0% 0%;
	

	}
.gwt-MenuButton:active {
	
	width: 275px;
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: arial,sans-serif;
	font-weight: bold;
	background-attachment: scroll;
	background-color: rgb(217,217,217);
	background-position: 0% 0%;
	
}


.gwt-MenuButton:hover {

	background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);
	
}




.gwt-MenuButton:focus {
	/* 
	background: none repeat scroll 0% 0% rgb(217, 217, 217) !important;
	
	color: red;
 */
background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);

}

.gwt-MenuButton[disabled] {
  background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);
}
.gwt-MenuButton[disabled]:hover {
 background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);
}


.gwt-BilgileriniGetir {
/* 	background-color: rgb(92, 184, 92); */
	background-color:rgb(94, 94, 94);
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    	 color: rgb(255, 255, 255);
      
}

.gwt-BilgileriniGetir:HOVER{
	
	background-color: rgb(140, 140, 140);
	
	
	}
.gwt-TextBoxAra {
	
	

	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: arial,sans-serif;
	background-image: url("search.png");
	background-position: right;
	background-repeat: no-repeat;
	

	
	
}
.gwt-TextBoxAra:HOVER {
	
	
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: arial,sans-serif;
	background-image: url("search.png");
	background-position: right;
	background-repeat: no-repeat;
		/* width: 250px;
		height: 100px;
		size: 500px; */
	/* 	size: "300px","400px"; */

}

.gwt-TextBoxAra:FOCUS {
		
	/* 	float: right; */
	/* height: 50px;
	width: 200px; */
	
	/* size: 400px; */
	
		
}

.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  border-color: rgb(108, 127, 146);
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

.gwt-DecoratedTabBar {
}
.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}
.gwt-DecoratedTabBar .gwt-TabBarRest {
}
.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}
.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background:  silver;
}
.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}
.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
   background: silver;
}
.gwt-DecoratedTabBar .tabTopLeft {
  background: url(images/corner.png) no-repeat 0px -55px;
  -background: url(images/corner_ie6.png) no-repeat 0px -55px;
}
.gwt-DecoratedTabBar .tabTopRight {
  background: url(images/corner.png) no-repeat -6px -55px;
  -background: url(images/corner_ie6.png) no-repeat -6px -55px;
}
* html .gwt-DecoratedTabBar .tabTopLeftInner,
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
  background-color:   silver;
}
.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background-color:  silver;
}
.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color:  rgb(108, 127, 146);;
  font-weight: bold;
  text-align: center;
  background: silver;
}

.gwt-DecoratedTabBar .tabTopCenter {

  color: white;
  font-weight: bold;
 
  background: silver;
}

.gwt-DecoratedTabBar  .gwt-TabBarItem-selected .tabTopLeftInner,
.gwt-DecoratedTabBar  .gwt-TabBarItem-selected .tabTopRightInner {
  width: 6px;
  height: 6px;
   background:  rgb(108, 127, 146);
}


.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background:  rgb(108, 127, 146);
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
  
  
    background:  rgb(108, 127, 146);
  
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
  background:   rgb(108, 127, 146);
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background:  rgb(108, 127, 146);
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: rgb(108, 127, 146);
  color:  whitesmoke;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: whitesmoke;
   background:   rgb(108, 127, 146);
}

.gwt-LeftPadding {
	padding-left: 5px;
}

.cellTableHeader {
padding: 0px;
color: #545454;
text-align: center;
font-size: 13px;
background-image: none;
background-color: #cfcfcf;
height: 25px;
vertical-align: middle;
font-weight: bold;
text-shadow: 0 1px 1px rgba(255,255,255,.7);
}



@def selectionBorderWidth 2px;
.cellTableWidget {
 
}

.cellTableFirstColumn {
 
}

.cellTableLastColumn {
 
}

.cellTableFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
}

.cellTableHeader {
  border-bottom: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
}

.cellTableCell {
  padding: 2px 15px;
  overflow: hidden;
}

.cellTableFirstColumnFooter {
 
}

.cellTableFirstColumnHeader {
 
}

.cellTableLastColumnFooter {
 
}

.cellTableLastColumnHeader {
 
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
  background: #ffffff;
}

.cellTableEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRow {
  background: #f3f7fb;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid #f3f7fb;
}

.cellTableHoveredRow {
  background: #eee;
}

.cellTableHoveredRowCell {
  border: selectionBorderWidth solid #eee;
}

.cellTableKeyboardSelectedRow {
  background: #ffc;
}

.cellTableKeyboardSelectedRowCell {
  border: selectionBorderWidth solid #ffc;
}

.cellTableSelectedRow {
  background: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  border: selectionBorderWidth solid #628cd5;
}


.cellTableKeyboardSelectedCell {
  border: selectionBorderWidth solid #d7dde8;
}

@sprite .cellTableLoading {
  gwt-image: 'cellTableLoading';
  margin: 30px;
}






.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: silver;
} 
.gwt-TabLayoutPanelContentContainer {
  border-color: silver;
  border-style: solid;
  border-width: 2px 1px 1px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: silver;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 6px;
}

.gwt-DialogBox .Caption {
/*   background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px; */
background: rgb(108, 127, 146);
color: white;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid rgb(108, 127, 146);
   border-left: 9px solid rgn(108 , 127, 146);
  /*border-top: #d0e4f6  */
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -4px;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -4px 0px;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 8px;
  zoom: 1;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogTopLeft {
  background: url(images/corner.png) no-repeat -13px 0px;
  -background: url(images/corner_ie6.png) no-repeat -13px 0px;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogTopRight {
  background: url(images/corner.png) no-repeat -18px 0px;
  -background: url(images/corner_ie6.png) no-repeat -18px 0px;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(images/corner.png) no-repeat 0px -15px;
  -background: url(images/corner_ie6.png) no-repeat 0px -15px;
  background: rgb(108, 127, 146);
}
.gwt-DialogBox .dialogBottomRight {
  background: url(images/corner.png) no-repeat -5px -15px;
  -background: url(images/corner_ie6.png) no-repeat -5px -15px;
  background: rgb(108, 127, 146);
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  overflow: hidden;
  background: rgb(108, 127, 146);
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  overflow: hidden;
  background: rgb(108, 127, 146);
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
  background: rgb(108, 127, 146);
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
  background: rgb(108, 127, 146);
}

