@font-face {
    font-family: 'Trebuc';
    src: url('trebuc.ttf');
    src: local('Trebuc'),
         local('Trebuc'),
         url('trebuc.ttf') format('truetype');
}
 
/* Bold declaration only for non-IE browsers */
@font-face {
    font-family: 'Trebuc Bold';
    src: local('Trebuc Bold'),
         local('Trebuc-Bold'),
         url('trebucbd.ttf') format('truetype');
    font-weight: bold;
}

body { 
	color: black;
	margin: 5px;
	font-size: small;
	font-family: Trebuc, Arial, sans-serif;



}

a {	
	color: darkblue;
	
	
}

a:visited {	
	color: darkblue; 
	
	
}





.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	width: 15em;
	border: 1px solid #D9D9D9;
	background-color: #D9D9D9;
    
}

.gwt-StackPanelHeader:hover {
	background-color: red;
	color:red;
    
}
.gwt-StackPanel .gwt-StackPanelItem {
    background-image: url(blue_gradient.gif); 
	background-repeat: repeat-x;
	background-color: #D9D9D9;
	cursor: pointer;
	cursor: hand; 
	height: 25px;
	background: none repeat scroll 0% 0% #D9D9D9 !important;
	

}

.gwt-StackPanel .gwt-StackPanelItem-selected {
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 5px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 5px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 5px;
box-sizing: border-box;
color: rgb(0, 0, 0);
direction: ltr;
display: block;
font-family: 'Open+Sans', sans-serif;
font-size: 13px;
height: 28px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
width: 255px;
font-family:'Open+Sans', sans-serif;
/* background: none repeat scroll 0% 0% rgb(217, 217, 217) !important; */
background: none repeat scroll 0% 0% #007AFF !important;
color: White;

position: relative;

/* background: #D9D9D9 !important; */
}

 .gwt-StackPanel .gwt-StackPanelContent {

	background: none repeat scroll 0% 0% ButtonFace !important;
	background-color: ButtonFace;
    
}
 


.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}
.gwt-ButtonSave {
	
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
	
	
	-moz-user-select: none;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
     text-decoration: none;
   
}

.gwt-ButtonSave:hover {

background-color: #0066ff;


}	

.gwt-LabelMor {
	color: rgb(255, 255, 255);
	border: 72);
	font-weight: bold;
	background-color: dimgray;
}
.gwt-Bold {
	font-style: normal;
	font-family: Trebuc;
	font-weight: bold;
}
.gwt-11111 {
background-color: rgb(239, 239, 239);
background-image: -moz-linear-gradient(center top , rgb(250, 250, 250), rgb(239, 239, 239));
border: 1px solid rgb(221, 221, 221);
border-radius: 2px 2px 2px 2px;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
cursor: pointer;
height: 80px;
display: block;
font-size: 14px;
margin-bottom: 15px;
margin-top: 15px;
padding: 5px 0px 0px;
position: relative;
text-align: center;
transition: all 0.3s ease 0s;
color: rgb(51, 51, 51);
}
.gwt-2222 {
	color: rgb(255, 255, 255);
	border-top: 142);
	border-right: solid 142);
	border-bottom: 142);
	border-left: 142);
	background-color: rgb(50, 118, 177);
	background-image: none;
}
.gwt-RichTextToolbar-new {
}
.gwt-TextBox1 {
height:wwpx; 
width: 275px; 
-moz-box-shadow: 0 2px 4px #bbb inset; 
-webkit-box-shadow: 0 2px 4px #BBB inset; 
box-shadow: 0 2px 4px #BBB inset; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: Trebuc, c, cursive;
	
}
.gwt-TextBox1:focus{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:2px solid #5AB0DB;
}

.gwt-TextBox1:hover {
    border: 1px solid #007AFF;
    border-radius: 0px;
}

/* .gwt-TextBox1:focus:hover{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:1px solid red;
    border-radius:0;
    
}  */

.gwt-ComboBox1 {
	font-family: Trebuc, c, cursive;
	
	
}

.gwt-ComboBox1:focus{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:2px solid #5AB0DB;
}

.gwt-ComboBox1:hover {
    border: 1px solid #007AFF;
    border-radius: 0px;
}



.gwt-DialogBackGround {
	background-color: ButtonFace;
}
.gwt-ButonYeniKayit {
background-color: rgb(92, 184, 92);
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    	 color: rgb(255, 255, 255);
      
}

.gwt-ButonYeniKayit:hover {
	
background-color: green;

      
}
.gwt-ButonKapat {
color: rgb(255, 255, 255);
background-color: rgb(210, 50, 45);
border-color: rgb(172, 41, 37);
border-radius: 4px 4px 4px 4px;
cursor: pointer;
}	

.gwt-ButonKapat:hover {

background-color: red;


}	


.gwt-ButtonExcel'eAktar {
}
.gwt-ButtonListeyiYenile {
cursor: pointer;
border-radius: 4px 4px 4px 4px;
color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);



}
.gwt-ButtonExceleAktar {
	background-color: slategrey;
	cursor: pointer;
	 color: rgb(255, 255, 255);
	 border-radius: 4px 4px 4px 4px;
	  border-color: darkgrey;
}

.gwt-ButtonExceleAktar:hover {
	background-color: darkgrey;
	
}



.gwt-ButtonAra {
	
}

.gwt-ButtonRaporAl {
}
.gwt-HzPan {
	background-color: midnightblue;
}
.gwt-dlgbackgorund {
	background-color: whitesmoke;
	
}
.gwttextbuton {
	border-color: rgb(38, 154, 188);
	font-family: Trebuc;

	border-radius: 4px 4px 4px 4px;
}
.gwttreeee {
	background-color: ButtonFace;
	cursor: pointer;
	
}
.gwt-MenuButton {

	/* border-color: rgb(38, 154, 188);
	font-family: Trebuc;
	font-weight: bold;
	background-color: (86, 144, 153); */
	/* 
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(217, 217, 217);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-top-color: rgb(200, 199, 204);
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: auto;
direction: ltr;
display: block;
font-family: 'Open+Sans', sans-serif;
font-size: 14px;
font-weight: 300;
height: 25px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-decoration: none solid rgb(0, 0, 0);
width: 225px;
font-family:
 box-shadow: 1px 0 0 0 #FFFFFF; */


-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(51, 51, 51);
direction: ltr;
display: list-item;
font-family: sans-serif, Arial, Verdana, 'Trebuchet MS';
font-size: 13px;
height: 30px;
line-height: 17px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
/* text-align: left; */
width: 225px;
font-family:sans-serif, Arial, Verdana, 'Trebuchet MS';
	font-weight: bold;

}

.gwt-MenuButton:active {

	font-weight: bold;
	height:wwpx; 
width: 275px; 
-moz-box-shadow: 0 2px 4px #bbb inset; 
-webkit-box-shadow: 0 2px 4px #BBB inset; 
box-shadow: 0 2px 4px #BBB inset; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
	color: black;
	border: 1px solid #B9BDC1;
	font-size: 14px;
	font-style: normal;
	font-family: Trebuc, c, cursive;
	background: none repeat scroll 0% 0% rgb(217, 217, 217) !important;

}


.gwt-MenuButton:hover {

	background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);
	
}

.gwt-MenuButton:focus {
	/* 
	background: none repeat scroll 0% 0% rgb(217, 217, 217) !important;
	
	color: red;
 */
background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);

}

.gwt-MenuButton[disabled] {
  background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);
}
.gwt-MenuButton[disabled]:hover {
 background: none repeat scroll 0% 0% #D9D9D9 !important;
	cursor : pointer;
	text-decoration: none solid rgb(0, 0, 0);
}


/* .gwt-MenuButton[disabled]:hover {
background: #D9D9D9 !important;
}  */

.gwt-MenuButton2 {
	color: darkgrey;
}
.gwt-MenuBackground {
	/* background-color: lightblue; */
	background-color: ButtonFace;
	
}
.gwt-cellTable {
}
}
